workflows/ATS Job Tracker - Phase 1.json
{
  "name": "ATS Job Tracker - Phase 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2eed12b6-842d-488c-8c4d-50c4b2e1f464",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aQMM-qSJpKVeEY-nLxhHA3eesrUTuMVReEVSjGjtH1E",
          "mode": "list",
          "cachedResultName": "Application Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQMM-qSJpKVeEY-nLxhHA3eesrUTuMVReEVSjGjtH1E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Target Companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQMM-qSJpKVeEY-nLxhHA3eesrUTuMVReEVSjGjtH1E/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Company",
              "lookupValue": "Nokia"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "2c25821e-e4cc-48dc-a7ef-5dcfca3b3b29",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0KmXBChjR2Dkt9yg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"ATS Platform\"]}}",
                    "rightValue": "Workday",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94fa17e4-cb42-4ae9-ab2b-2a36d7f541c0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "24d49853-383c-420c-9674-45d3e1d55044",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{$json[\"Careers URL\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -80
      ],
      "id": "905db96e-eac5-444f-ba45-1e02bb80e037",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst html = input.data || \"\";\n\nconst hasApply =\n  /Apply|Apply Now|Apply today|Submit Application/i.test(html);\n\nconst hasJobPosting =\n/JobPosting|Search jobs|Open positions|Current openings|Available jobs|View jobs|Find jobs/i.test(html);\n\nreturn [{\n  json: {\n    ...input,\n    hasApply,\n    hasJobPosting\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "186bca33-4f52-4dd1-a976-802aa26def8d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aQMM-qSJpKVeEY-nLxhHA3eesrUTuMVReEVSjGjtH1E",
          "mode": "list",
          "cachedResultName": "Application Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQMM-qSJpKVeEY-nLxhHA3eesrUTuMVReEVSjGjtH1E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Target Companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQMM-qSJpKVeEY-nLxhHA3eesrUTuMVReEVSjGjtH1E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Open Roles": "={{$json.hasJobPosting ? \"Yes\" : \"No\"}}",
            "Last Checked": "={{new Date().toISOString().split(\"T\")[0]}}",
            "Notes": "={{$json.hasApply\n? ($json.hasJobPosting\n    ? \"Jobs available\"\n    : \"Apply page found but no jobs\")\n: \"No apply page\"}}",
            "row_number": "={{$json.row_number}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ATS Platform",
              "displayName": "ATS Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Careers URL",
              "displayName": "Careers URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preferred Roles",
              "displayName": "Preferred Roles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Checked",
              "displayName": "Last Checked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Open Roles",
              "displayName": "Open Roles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        0
      ],
      "id": "710b3f93-52ff-4787-a306-11598385ba83",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0KmXBChjR2Dkt9yg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        848,
        0
      ],
      "id": "aba52067-50c0-476f-a2f4-2c8172b473d4",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "275ef19e-16b5-440f-ad41-79573528e4e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "668468446d06bbf7d0b00a33236fda1750a0e904fdd27a38b6e612953d79bfa9"
  },
  "nodeGroups": [],
  "id": "dLItzbuaxjKgVkIy",
  "tags": []
}